.footer-container {
  display: flex;
  width: 100%;
  max-width: 1500px;
  background-color: #fff;
  padding: 0 50px 50px;
  box-sizing: border-box;
}

.column-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

@media (max-width: 700px) {
  .column-container {
    flex-direction: column;
  }
}

.social-link-wrapper {
  background-color: #000;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-link {
  width: 20px;
  height: 20px;
}

.footer-links {
  margin: 7px 0;
}

.left-footer-column {
  display: flex;
  max-width:700px;
}

.about-column {
  display: flex;
  flex-direction: column;
  margin-right: 60px;
}

.support-column {
  display: flex;
  flex-direction: column;
}

.social-container {
  display: flex;
  justify-content: space-between;
  width: 200px;
}

.right-footer-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.right-footer-column > span {
  margin-bottom: 10px;
}