.product-card-container {
  width: 300px;
  height: 300px;
}

@media (max-width: 1389px) {
  .product-card-container {
    width:250px;
  }
}

@media (max-width: 900px) {
  .product-card-container {
    width:300px;
  }
}

.add-to-cart {
  border: 1px solid rgb(177, 177, 177);
  border-radius: 20px;
  background-color: rgb(237, 237, 237);
  color: #000;
  padding: 10px;
  width: 49%;
}

.add-to-cart:hover {
  border: 1px solid lightgray;
  background-color: #fff;
  cursor: pointer;
}

@media (max-width: 899px) {
  .add-to-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    padding: 0;
  }

  .buy-now {
    width: 80%;
  }
}



.cart-icon {
  width: 20px;
  height: 20px;
}

.product-category {
  background-color: #fff;
  border-radius: 20px;
  padding: 3px 5px;
  margin-top: 5px;
  border: 1px solid gray;
  font-size: small;
  max-width: 120px;
  max-height: 15px;
  width:fit-content;
  text-align: center;
}

.star-and-review-group {
  display: flex;
  align-items: center;
}

.review-text {
  font-size: x-small;
  color: gray;
}

.review-and-price-container {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
}

.product-card-review-section {
  display: flex;
  align-items: center;
}

.star-icon {
  width: 15px;
  height: 15px;
  margin-right: 5px;
}

.product-card-image {
  width:250px;
  height: 200px;
  border-radius: 10px;
}

.image-and-category {
  border-radius: 10px;
  width:300px;
  height: 200px;
  display: flex;
  justify-content: right;
}

@media (max-width: 1389px) {
  .image-and-category {
    width:250px;
  }
}

@media (max-width: 1100px) {
  .image-and-category {
    width:250px;
  }
}

@media (max-width: 900px) {
  .image-and-category {
    width:300px;
  }
}

.product-name {
  font-weight: bold;
}

.product-card-btn-container {
  display: flex;
  justify-content: space-between;
}
