.navbar-container {
  border-radius: 0 0 20px 20px;
  background-color: #fff;
  width: 100%;
  max-width: 1000px;
  height: 70px;
  display: flex;
  justify-content: space-between;
  padding: 10px 25px;
  align-items: center;
  top: 0;
  position: fixed;
  z-index: 1000;
}

@media (max-width: 1100px) {
  .navbar-container {
    max-width: 800px;
  }
}

@media (max-width: 900px) {
  .navbar-container {
    max-width: 600px;
  }
}

@media (max-width: 900px) {
  .navbar-container {
    max-width: 600px;
  }
}

@media (max-width: 700px) {
  .navbar-container {
    max-width: 500px;
  }
}

@media (max-width: 600px) {
  .navbar-container {
    max-width: 300px;
    height: 50px;
  }
}

#menu {
  width: 20px;
  height: 20px;
}

.left-nav-section {
  display: flex;
  align-items: center;
  width: 150px;
  justify-content: space-between;
}

.mid-nav-section {
  display: flex;
  width: 150px;
  justify-content: space-around;
}

#search {
  width: 20px;
  height: 20px;
}

.search-container {
  border: 1px solid #686464;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo {
  width: 40px;
  height: 40px;
}

#logo-text {
  font-weight: bold;
  font-size: large;
}

#cart {
  width: 20px;
  height: 20px;
}

.profile-container {
  border: 1px solid #686464;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#profile {
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.cart-container {
  border: 1px solid #686464;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

a {
  text-decoration: none;
  color: #000;
}

.sign-out-link {
  cursor: pointer;
}

.right-nav-section {
  display: flex;
  justify-content: right;
  width: 150px;
}