.hero-container {
  background-image: url(../../../images//woman-on-computer.jpg);
  height: 800px;
  width: 100%;
  
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
}

@media (max-width: 1000px) {
  .hero-container {
    height: 600px;
  }
}

@media (max-width: 768px) {
  .hero-container {
    height: 400px;
  }
}

@media (max-width: 600px) {
  .hero-container {
    background-position: right;
  }
}

@media (max-width: 420px) {
  .hero-container {
    background-position: right;
  }
}

.hero-text-container {
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  position: absolute;
  max-width: 1500px;
  bottom: 375px;
}

@media (max-width: 1400px) {
  .hero-text-container {
    bottom: 400px;
    max-width: 1400px;
  }
}

@media (max-width: 1125px) {
  .hero-text-container {
    bottom: 420px;
    max-width: 1125px;
  }
}

@media (max-width: 1000px) {
  .hero-text-container {
    bottom: 630px;
    max-width: 1000px;
  }
}

@media (max-width: 850px) {
  .hero-text-container {
    bottom: 635px;
    max-width: 850px;
  }
}

@media (max-width: 768px) {
  .hero-text-container {
    bottom: 840px;
    max-width: 768px
  }
}

@media (max-width: 562px) {
  .hero-text-container {
    bottom: 830px;
    max-width: 300px
  }
}

.hero-header-text {
  font-weight: bold;
  font-size: 285px;
  margin: 0;
  align-self: flex-end;
  color: #fff;
  /* position: absolute; */
  bottom: 200px;
}

@media (max-width: 1600px) {
  .hero-header-text {
    font-size: 250px;
  }
}

@media (max-width: 1405px) {
  .hero-header-text {
    font-size: 200px;
  }
}

@media (max-width: 1125px) {
  .hero-header-text {
    font-size: 150px;
  }
}

@media (max-width: 850px) {
  .hero-header-text {
    font-size: 120px;
  }
}

@media (max-width: 562px) {
  .hero-header-text {
    font-size: 120px;
  }
}
