#hamburgerIcon {
  width: 20px;
  height: 20px;
}

#hamburgerIcon:hover {
  cursor: pointer;
}

.MuiPaper-root {
  min-width: 35%;
}

#box {
  background-color: #fff;
  height: 100%;
}

#box > a {
  width: 100%;
}

.MuiListItemText-primary {
  color: #000;
}

.MuiDivider-root {
  background-color: #000;
  z-index: 1000;
}

.MuiListItem-root {
  display: flex;
  /* flex-direction: column; This centers the text */
  align-items: flex-start;
  padding-left: 10px;
  width: 100%;
}
