.marketing-container {
  display: flex;
  flex-direction: column;
  align-items:center;
  background-color: #fff;
  max-width: 1500px;
  width: 100%;
  padding: 50px 50px 0;
  box-sizing: border-box;
}

.top-half {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
@media (max-width: 1251px) {
  .top-half {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

.text-column {
  max-width: 500px;
}

@media (max-width: 1251px) {
  .text-column {
    max-width: 1000px;
    width: 100%;
  }
}

.image-column {
  width: 100%;
  height:500px;
  overflow: hidden;
  border-radius: 20px;
  background-image: url('../../../images/white_speaker.jpg');
  background-size: cover;
  background-position: center;
}

@media (max-width: 650px) {
  .image-column {
    height:300px;
  }
}

.icon-and-text {
  display: flex;
  align-items: center;
  margin: 15px 0;
}

#speaker-image {
  width: 100%;
  height: auto;
  border-radius: 20px;
}

.point-description > h3 {
  margin: 1px;
}

.point-description > span {
  font-size: small;
}

.marketing-point-container {
  width: 45px;
  height: 45px;
  background-color: lightgray;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}

.marketing-icon {
  width: 25px;
  height: 25px;
}

.carousel-header-container {
  max-width: 520px;
}

@media (max-width: 600px) {
  .carousel-header-container > h1 {
    font-size: large;
  }
}

.bottom-half {
  width: 100%;
  margin-top: 50px;
}

.carousel-item-container {
  display: flex;
  justify-content: space-between;
  width: 2350px;
}

.carousel-item {
  border-radius: 25px;
  width: 350px;
  height: 300px;
  background-size: cover;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  padding: 0 0 20px 20px;
  border: 1px solid lightgray;
}

.slider-category {
  width: auto;
  max-width: 100px;
  background-color: rgb(251, 251, 251);
  border-radius: 30px;
  padding: 10px;
  text-align: center;
}

.carousel-window {
  height: 325px;
  overflow-x: scroll;
  scrollbar-width: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
