body {
  margin: 0;
  width: 100%;
}

.black-btn {
  border: 1px solid lightgray !important;
  border-radius: 20px !important;
  background-color: #000 !important;
  color: #fff !important;
  padding: 7px !important;
  width: 49% !important;
}

.black-btn:hover {
  border: 1px solid lightgray !important;
  background-color: #727272 !important;
  color: #fff !important;
  cursor: pointer !important;
}
