.product-window-container {
  background-color: #fff;
  width: 100%;
  max-width: 1500px;
  min-height: 400px;
  height: 100%;
  padding: 40px;
  box-sizing: border-box;
  z-index: 2;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  min-height: 300px;
  width: 100%;
  align-self: center;
}

.inactive-btn {
  border: 1px solid lightgray !important;
  border-radius: 30px !important;
  background-color: #fff !important;
  color: #000 !important;
  min-width: 100px;
  height: 40px;
}

.active-btn {
  border: 1px solid lightgray !important;
  border-radius: 30px !important;
  background-color: #000 !important;
  color: #fff !important;
  min-width: 100px;
  height: 40px;
}

.active-btn:hover {
  border: 1px solid lightgray;
  border-radius: 30px;
  background-color: #000;
  color: #fff;
  min-width: 100px;
  height: 40px;
}


.filter-container {
  display: flex;
  justify-content: space-around;
  width: 750px;
  height: 40px;
  /* scroll-snap-type: x mandatory; 
  scroll-behavior: smooth;
  overflow-x: auto;  */
}

@media (max-width: 829px) {
  .filter-container:hover {
    cursor: grab;
  }
  
  .filter-container::selection {
    cursor: grabbing;
  }
}

.btn-container {
  display: flex;
  align-items: center;
  min-width: 725px;
  margin-bottom: 50px;
  /* scroll-snap-type: x mandatory; 
  scroll-behavior: smooth;
  overflow-x: auto;  */
}

.filter-slider-window {
  overflow-x: scroll;
  scrollbar-width: none;
  padding-left: 10px;
  scroll-snap-type: x mandatory; 
  scroll-behavior: smooth;
}

@media (max-width: 900px) {
  .btn-container {
    justify-content: center;   
  }
}

.products-container {
  display: grid;
  grid-template-columns: 300px 300px 300px 300px; 
  gap: 50px 20px;
  padding: 20px;
  justify-content: space-between;
  margin-bottom: 30px;
  min-height: 500px;
  max-height: 1000px;
  overflow-y: auto;
  scrollbar-width: thin;
}

@media (max-width: 1350px) {
  .products-container {
    grid-template-columns: 250px 250px 250px 250px; 
  }
}

@media (max-width: 1200px) {
  .products-container {
    grid-template-columns: 250px 250px 250px; 
  }
}

@media (max-width: 900px) {
  .products-container {
    grid-template-columns: 300px 300px;
  }
}

@media (max-width: 750px) {
  .products-container {
    grid-template-columns: 300px;
    justify-content: center;
  }
}

@media (max-width: 615px) {
  .products-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px 10px 30px;
    align-items: center;
    min-height: 500px;
    max-height: none;
    overflow: hidden;
    height: 100%;
  }
}